.products-container{
    background-color: #242424;
    margin-top: 5rem;
    h1{
        padding: 2rem;
        color: white;
    }
}
.products_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 9rem;
}

@media screen and (max-width: 786px) {
    .products_wrapper{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
  }